tools/jolie2wsdl/validWSDL.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TwiceService"
targetNamespace="http://www.italianasoftware.com/wsdl/FirstServiceByWSDL4J.wsdl"
xmlns:tns="http://www.italianasoftware.com/wsdl/FirstServiceByWSDL4J.wsdl"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<!--
	<wsdl:types>
		<xs:schema targetNamespace="http://www.italianasoftware.com/wsdl/FirstServiceByWSDL4J.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="twice">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="num" type="int"/>
					</xs:sequence>
				</xs:complexType>
				<xs:element name="twiceResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="result" type="int"/>
						</xs:sequence>
					</xs:complexType>
					<xs:element name="twiceFault">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="fault" type="string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:element>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	-->
	<wsdl:message name="TwiceServiceResponse">
		<wsdl:part name="parameters" element="twiceResponse"/>
	</wsdl:message>
	<wsdl:message name="TwiceServiceRequest">
		<wsdl:part name="parameters" element="twice"/>
	</wsdl:message>
	<wsdl:portType name="PortTypeName">
		<wsdl:operation name="twice">
			<wsdl:input name="inputInName" message="TwiceServiceRequest"/>
			<wsdl:output name="outputOutName" message="TwiceServiceRequest"/>
			<wsdl:fault name="faultName" message="TwiceServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TwiceServiceBinding" type="TwiceServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/wsdl/soap/http"/>
		<wsdl:operation name="twice">
			<soap:operation soapAction="twice" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TwiceService">
		<wsdl:port name="TwiceServicePort" binding="TwiceServiceBinding">
			<soap:address location="http://127.0.0.1:8080/foo"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
