test/extensions/private/WS-test/lib/WS-test.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calc.id" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calc.id" name="CalcService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://calc.id" schemaLocation="http://localhost:14000/?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="close">
    <part name="parameters" element="tns:close"/>
  </message>
  <message name="closeResponse">
    <part name="parameters" element="tns:closeResponse"/>
  </message>
  <message name="sum">
    <part name="parameters" element="tns:sum"/>
  </message>
  <message name="sumResponse">
    <part name="parameters" element="tns:sumResponse"/>
  </message>
  <message name="prod">
    <part name="parameters" element="tns:prod"/>
  </message>
  <message name="prodResponse">
    <part name="parameters" element="tns:prodResponse"/>
  </message>
  <portType name="CalcService">
    <operation name="close">
      <input wsam:Action="tns:close" message="tns:close"/>
      <output wsam:Action="http://calc.id/CalcService/closeResponse" message="tns:closeResponse"/>
    </operation>
    <operation name="sum">
      <input wsam:Action="tns:sum" message="tns:sum"/>
      <output wsam:Action="http://calc.id/CalcService/sumResponse" message="tns:sumResponse"/>
    </operation>
    <operation name="prod">
      <input wsam:Action="tns:prod" message="tns:prod"/>
      <output wsam:Action="http://calc.id/CalcService/prodResponse" message="tns:prodResponse"/>
    </operation>
  </portType>
  <binding name="CalcServicePortBinding" type="tns:CalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="close">
      <soap:operation soapAction="tns:close"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sum">
      <soap:operation soapAction="tns:sum"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="prod">
      <soap:operation soapAction="tns:prod"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalcService">
    <port name="CalcServicePort" binding="tns:CalcServicePortBinding">
      <soap:address location="http://localhost:14000/"/>
    </port>
  </service>
</definitions>